body{
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

/* Navbar */

nav{
    background: #222;
    padding: 15px;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 18px;
}

nav a:hover{
    color: orange;
}

/* Page Content */

h1{
    margin-top: 50px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 18px;
}
.projects{
    display:flex;
    gap:25px;
    flex-wrap:wrap;
    justify-content:center;
}

.project-card{
    width:300px;
    background:#fff;
    border-radius:12px;
    padding:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

.project-card img{
    width:100%;
    border-radius:10px;
}

.project-card span{
    color:#777;
    font-size:14px;
}
nav a.active{
    color:orange;
}
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:50px;
}



.project-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.15);
}

.project-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.project-card h3 {
    margin: 15px 0 10px;
}

.project-card p {
    color: #555;
    font-size: 14px;
}

.btn {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 18px;
    background: #ff9800;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #e68900;
}
.service-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.08);
}