{% extends 'base.html' %}

{% block content %}

<div class="hero">

    <h1>Hi, I'm Jawad 👋</h1>

    <h2>Django Web Developer & Freelancer</h2>

    <p>
        I build fast, secure and modern websites for businesses and startups.
    </p>

    <a href="/contact/" class="btn">Hire Me</a>

</div>

<style>

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(to right, #141e30, #243b55);
    color:white;
}

.hero h1{
    font-size:50px;
}

.hero h2{
    font-size:28px;
    margin:15px 0;
}

.hero p{
    font-size:18px;
    max-width:600px;
    margin:20px auto;
}

.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 30px;
    background:#ff9800;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

.btn:hover{
    background:#e68900;
}

</style>

{% endblock %}